<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <!-- Application-owned UC_* tables. In Azure set this to the new Unload Compare database. -->
    <add name="UnloadCompareConnectionString" connectionString="Data Source=DESKTOP-RGFJ2N8;initial catalog=Babco;uid=a;password=a; Timeout=300000" providerName="System.Data.SqlClient" />
    <!-- Supporting Babco order source only: UOS_Order, UOS_OrderDetail and Item. Change independently without moving UC_* tables. -->
    <add name="BabcoSupportConnectionString" connectionString="Data Source=DESKTOP-RGFJ2N8;initial catalog=Babco;uid=a;password=a; Timeout=300000" providerName="System.Data.SqlClient" />
    <!-- Backward-compatible alias for older deployments. New code prefers the two named strings above. -->
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-RGFJ2N8;initial catalog=Babco;uid=a;password=a; Timeout=300000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UnloadCompare.UploadRoot" value="~/App_Data/Uploads/UnloadCompare" />
    <add key="UnloadCompare.MaxUploadMB" value="15" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="15360" executionTimeout="120" requestValidationMode="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Static" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="UnloadCompare.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="15728640" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
